<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>lX7IhBorTENIT9RC1aw2n4rI4gP8IBZ0uTY8OlQVdzNckWhw8IpfbYbh6T%2FCIV%2BcB9vKBIDO8i7w8Hubv86ACg%3D%3D</string>
</dict>
</plist>
