<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>MzME33MXmCbXwTmZXMShRksPn1PlTzuKinPlREBrfj50pwt8qsvqOUR75KXeN1%2F7QfeWC6TLbl1lGuDg6BJ6cw%3D%3D</string>
</dict>
</plist>
