<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>K0Edt0uC%2Fv%2BZLiVJmdViNw%2BSWab7BAwVawQtAfj6LRYD%2Bq4xzMfTqh1XOQIfCvns874ejiPqgcrCSXDGUJ037Q%3D%3D</string>
</dict>
</plist>
